mixin lcheckbox(id, label)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      .checkbox
        input(type="checkbox", id=id)

mixin rcheckbox(id, label)
  .form-group
    .col-sm-8.col-sm-offset-4
      .checkbox
        label.control-label(for=id)= label
          input(type="checkbox", id=id)

mixin textbox(id, label, placeholder)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      if placeholder
        input.form-control(id=id, type="text", placeholder=placeholder)
      else
        input.form-control(id=id, type="text")

mixin lcheckbox-auto(id, label)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      .checkbox
        input.cs-checkbox(type="checkbox", id=id)

mixin rcheckbox-auto(id, label)
  .form-group
    .col-sm-8.col-sm-offset-4
      .checkbox
        label.control-label(for=id)= label
          input.cs-checkbox(type="checkbox", id=id)

mixin textbox-auto(id, label, placeholder)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      if placeholder
        input.form-control.cs-textbox(id=id, type="text", placeholder=placeholder)
      else
        input.form-control.cs-textbox(id=id, type="text")

mixin miscoptions
  #cs-miscoptions.tab-pane.active
    h4 Основные настройки
    form.form-horizontal(action="javascript:void(0)")
      mixin rcheckbox-auto("cs-allow_voteskip", "Разрешить голосовать за пропуск")
      mixin rcheckbox-auto("cs-allow_dupes", "Разрешить добавлять в очередь дубликаты видео")
      mixin textbox-auto("cs-voteskip_ratio", "Голосов для пропуска", "0.5")
      mixin textbox-auto("cs-maxlength", "Максимальная продолжительность видео", "ЧЧ:ММ:СС")
      mixin textbox-auto("cs-afk_timeout", "Вешать флаг /afk через", "0 для выключения")
      .form-group
        .col-sm-offset-4
    h4 Настройки сообщений
    form.form-horizontal(action="javascript:void(0)")
      mixin rcheckbox-auto("cs-enable_link_regex", "Преобразовывать ссылки")
      mixin rcheckbox-auto("cs-chat_antiflood", "Ограничить флуд")
      mixin textbox-auto("cs-chat_antiflood_burst", "Количество сообщений до включения антифлуда")
      mixin textbox-auto("cs-chat_antiflood_sustained", "Количество сообщений в секунду после включенного антифлуда")
      .form-group
        .col-sm-8.col-sm-offset-4
          span.text-info Изменения сохраняются автоматически.

mixin adminoptions
  #cs-adminoptions.tab-pane
    h4 Управление комнатой
    form.form-horizontal(action="javascript:void(0)")
      - var defname = "Synchtube - /r/" + channelName
      mixin textbox-auto("cs-pagetitle", "Заголовок страницы", defname)
      mixin textbox-auto("cs-password", "Пароль", "оставьте пустым, чтобы выключить")
      mixin textbox-auto("cs-externalcss", "Внешний CSS", "ссылка на файл")
      mixin textbox-auto("cs-externaljs", "Внешний Javascript", "ссылка на файл")
      mixin rcheckbox-auto("cs-show_public", "Показывать канал на главной")
      mixin rcheckbox-auto("cs-torbanned", "Блокировать подключения из сети Tor")
      mixin rcheckbox-auto("cs-allow_ascii_control", "Разрешить символы ASCII (напр., перенос строки)")
      mixin textbox-auto("cs-playlist_max_per_user", "Максимальное количество видео от одного пользователя", "0 для отключения")
      .form-group
        .col-sm-8.col-sm-offset-4
          span.text-info Изменения сохраняются автоматически.

mixin motdeditor
  #cs-motdeditor.tab-pane
    h4 Редактор MOTD (Message of the Day)
    p Допускается использование разметки HTML. Javascript выполняться не будет.
    textarea.form-control#cs-motdtext(rows="10")
    button.btn.btn-primary#cs-motdsubmit Сохранить

mixin csseditor
  #cs-csseditor.tab-pane
    h4 Редактор CSS
    p Максимальный объем - 20КБ. Для подключения CSS большего объема воспользуйтесь пунктом "Внешний CSS" из меню "Админ-панель".
    textarea.form-control#cs-csstext(rows="10")
    button.btn.btn-primary#cs-csssubmit Сохранить

mixin jseditor
  #cs-jseditor.tab-pane
    h4 Редактор Javascript
    p Максимальный объем - 20КБ. Для подключения JS большего объема воспользуйтесь пунктом "Внешний Javascript" из меню "Админ-панель".
    textarea.form-control#cs-jstext(rows="10")
    button.btn.btn-primary#cs-jssubmit Сохранить

mixin banlist
  #cs-banlist.tab-pane
    h4 Список банов
    table.table.table-striped
      thead
        tr
          th Разбанить
          th IP
          th Логин
          th Забанил

mixin recentjoins
  #cs-recentjoins.tab-pane
    h4 Последние подключения
    table.table.table-striped
      thead
        tr
          th Логин
          th Алиасы
          th Время

mixin chanranks
  #cs-chanranks.tab-pane
    h4 Список модераторов
    form.form-inline(action="javascript:void(0)", role="form")
      .input-group
        input#cs-chanranks-name.form-control(type="text", placeholder="Логин")
        span.input-group-btn
          button#cs-chanranks-mod.btn.btn-success +Модератор
          button#cs-chanranks-adm.btn.btn-info +Администратор
          button#cs-chanranks-owner.btn.btn-info +Владелец
    table.table.table-striped
      thead
        tr
          th Логин
          th Ранг

mixin chatfilters
  #cs-chatfilters.tab-pane
    h4 Чат-фильтры
    form.form-horizontal(action="javascript:void(0)", role="form")
      +textbox("cs-chatfilters-newname", "Название фильтра")
      +textbox("cs-chatfilters-newregex", "Регулярное выражение")
      .form-group
        label.control-label.col-sm-4(for="cs-chatfilters-newflags") Флаги
        .col-sm-8
          input#cs-chatfilters-newflags.form-control.cs-textbox(type="text", value="g")
      +textbox("cs-chatfilters-newreplace", "Замена")
      .form-group
        .col-sm-8.col-sm-offset-4
          button#cs-chatfilters-newsubmit.btn.btn-primary Создать фильтр
    table.table.table-striped.table-condensed
      thead
        tr
          th Управление
          th Логин
          th Активный?

    button#cs-chatfilters-export.btn.btn-default Загрузить список фильтров
    button#cs-chatfilters-import.btn.btn-default Импортировать список фильтров
    textarea#cs-chatfilters-exporttext.form-control(rows="5")

mixin emotes
  #cs-emotes.tab-pane
    h4 Смайлики
    form.form-horizontal(action="javascript:void(0)", role="form")
      +textbox("cs-emotes-newname", "Текст для замены")
      +textbox("cs-emotes-newimage", "Ссылка на изображение")
      .form-group
        .col-sm-8.col-sm-offset-4
          button#cs-emotes-newsubmit.btn.btn-primary Создать смайлик
    table.table.table-striped.table-condensed
      thead
        tr
          th Удалить
          th Текст
          th Изображение

    button#cs-emotes-export.btn.btn-default Загрузить список смайликов
    button#cs-emotes-import.btn.btn-default Импортировать список смайликов
    textarea#cs-emotes-exporttext.form-control(rows="5")

mixin chanlog
  #cs-chanlog.tab-pane
    h4 Лог канала
    strong Фильтровать лог:
    select#cs-chanlog-filter.form-control(multiple="multiple")
    pre#cs-chanlog-text
    button.btn.btn-default#cs-chanlog-refresh Обновить

mixin permeditor
  #cs-permedit.tab-pane
