doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/useragreement")
          +navloginlogout("/useragreement")
      section#mainpage
        .container
          .col-md-12
            h1 Пользовательское соглашение
            p.
              Посещая #{siteTitle} (#{domain}), вы соглашаетесь со следующим пользовательским соглашением:
            h3 Юридические вопросы
            ul
              li Контент и пользовательская активность на сайте не должна в явном виде нарушать законы Германии. В число запрещённых вещей вхоят:
                ul
                  li Детская порнография
                  li Нарушение авторских прав
              li Контент, размещённый на #{siteTitle}, предоставляется по принципу "as-is". Администрация сайта не несёт ответственности за размещаемый пользователями контент и возможный нанесённый ущерб, в том числе нанесённый другими пользователями сайта.
          h3 Правила пользования сайтом
          p.
            Регистрация комнат на #{siteTitle} бесплатна. После регистрации вы получаете ограниченные права на использование ресурсов сайта, включая последующее удаление комнаты по собственному желанию. Пользователь, зарегистрировавший комнату и назначенные им администраторы обязаны проверять соответствие размещаемого пользователями комнаты контента и предпринимать меры по устранению нарушений самостоятельно.
          p.
            Прямое скрытие ссылок на оригинальные репозитории hibari и sync, ссылок на главную страницу сайта или пользовательское соглашение запрещено. Администрация сайта оставляет за собой право приостановить активность и/или удалить любой профиль или комнату, нарушающие пользовательское соглашение, в том числе без объяснения причины.
          p.
            Запрещено вмешиваться в работу сайта или отдельных комнат, вами не зарегистрированных. Если вы нашли ошибку в работе сайта, уязвимость или эксплоит — свяжитесь с администраторами. Сохраняйте для сайта хорошее лицо — не стоит спамить чужие сайты ссылками на #{siteTitle}.
    include footer
    +footer()
